{
  "id": "0524ccd2-320d-40f1-b0c4-0c1f6b44228f",
  "name": null,
  "timestamp": "2024-02-05T02:00:54.167826",
  "metadata": {
    "metric_presets": [
      "RegressionPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [
      {
        "type": "evidently.metrics.regression_performance.regression_quality.RegressionQualityMetric",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.predicted_vs_actual.RegressionPredictedVsActualScatter",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.predicted_and_actual_in_time.RegressionPredictedVsActualPlot",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.error_in_time.RegressionErrorPlot",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.abs_perc_error_in_time.RegressionAbsPercentageErrorPlot",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.error_distribution.RegressionErrorDistribution",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.error_normality.RegressionErrorNormality",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.top_error.RegressionTopErrorMetric",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        }
      },
      {
        "type": "evidently.metrics.regression_performance.error_bias_table.RegressionErrorBiasTable",
        "options": {
          "color": null,
          "render": null,
          "custom": {}
        },
        "top_error": 0.05,
        "columns": null,
        "descriptors": null
      }
    ],
    "metric_results": [
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.base_metric.MetricResult"
      },
      {
        "type": "evidently.metrics.regression_performance.error_bias_table.RegressionErrorBiasTableResults",
        "top_error": -1.0,
        "current_plot_data": {},
        "reference_plot_data": null,
        "target_name": "",
        "prediction_name": "",
        "num_feature_names": [],
        "cat_feature_names": [],
        "error_bias": null,
        "columns": null
      }
    ],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8
  ],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}