{
  "id": "bdc8a369-47d2-4fba-9504-d50047952063",
  "name": null,
  "timestamp": "2024-01-17T23:24:54.680121",
  "metadata": {
    "metric_presets": [
      "TargetDriftPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [],
    "metric_results": [],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}