{
  "id": "3037cedf-d207-4131-b367-134dbe9fb388",
  "name": null,
  "timestamp": "2024-02-05T02:00:54.195537",
  "metadata": {
    "metric_presets": [
      "TargetDriftPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [],
    "metric_results": [],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}