{
  "id": "f29b6f3d-cb98-4f14-b0f4-521e18fca94e",
  "name": null,
  "timestamp": "2024-01-17T20:01:10.069595",
  "metadata": {
    "metric_presets": [
      "TargetDriftPreset"
    ]
  },
  "tags": [],
  "suite": {
    "metrics": [],
    "metric_results": [],
    "tests": [],
    "test_results": [],
    "options": {
      "color": null,
      "render": null,
      "custom": {}
    }
  },
  "metrics_ids": [],
  "test_ids": [],
  "options": {
    "color": null,
    "render": null,
    "custom": {}
  }
}